<div class="start-app-container">
  <h2>📥 Start New Application</h2>

  <div class="season-selection">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Season</mat-label>
      <mat-select [(ngModel)]="season" name="season">
        <mat-option *ngFor="let s of seasons" [value]="s">{{ s }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" name="startDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="parcels-section">
    <h3>🧱 Parcel Information</h3>
    <button mat-stroked-button color="primary" (click)="addParcel()">➕ Add Parcel</button>
  

    <div *ngFor="let parcel of parcels; let i = index" class="parcel-card mat-elevation-z2">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Crop</mat-label>
        <mat-select [(ngModel)]="parcel.cropType" name="crop-{{ i }}">
          <mat-option *ngFor="let crop of cropOptions" [value]="crop">{{ crop }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Area (in Hectare)</mat-label>
        <input matInput type="number" [(ngModel)]="parcel.areaHa" name="area-{{ i }}" />
      </mat-form-field>

      <div class="ml-section">
        <h4>📊 Carbon Estimation Questions</h4>

        <ng-container *ngFor="let question of mlQuestions">
          <mat-form-field *ngIf="question.type === 'number'" appearance="outline" class="form-field">
            <mat-label>{{ question.label }}</mat-label>
            <input matInput type="number" [(ngModel)]="parcel[question.key]" name="{{ question.key }}-{{ i }}" />
          </mat-form-field>

          <mat-form-field *ngIf="question.type === 'select'" appearance="outline" class="form-field">
            <mat-label>{{ question.label }}</mat-label>
            <mat-select [(ngModel)]="parcel[question.key]" name="{{ question.key }}-{{ i }}">
              <mat-option *ngFor="let option of question.options" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>

        </ng-container>
      </div>

      <div class="file-upload">
        <label>Upload Land Image/Document </label>
        <input type="file" (change)="onFileUpload($event, parcel.parcelId)" />
      </div>

      <button mat-icon-button color="warn" (click)="removeParcel(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <button mat-raised-button color="primary" class="submit-btn" (click)="submitApplication()">🚀 Submit Application</button>
</div>
