<div class="dashboard-container">
  <aside class="sidebar">
    <div class="logo-wrapper">
    <img src="assets/images/white-logo.png" alt="Logo" class="sidebar-logo" />
  </div>
    <nav>
      <a routerLink="active-applications" routerLinkActive="active"
        >🌾 Dashboard</a
      >
      <a routerLink="history" routerLinkActive="active">🕓 History</a>
      <a routerLink="wallet" routerLinkActive="active">💼 Wallet</a>
      <a routerLink="notifications" routerLinkActive="active"
        >📩 Notifications</a
      >
    </nav>
  </aside>

  <div class="main-content">
    <header class="topbar">
      <div class="title">Welcome, {{ farmerName }} 🌿</div>
      <a routerLink="login" routerLinkActive="active">
        ↩️ Logout
      </a>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
